* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bodyIndex {
    display: flex;
    flex-direction: column;
    font-family:sans-serif;
    background-color: rgb(236, 236, 236);
    background-repeat: repeat;
    background-image: url('https://p.kindpng.com/picc/s/680-6802464_gritter-cute-kawaii-png-transparent-pink-pastelcolours-pattern.png');
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    overflow: hidden;
    width: 100%;
    padding: 1rem;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: darkslategrey;
    padding: 0.5rem 1rem;
    background-color: inherit;
    margin:0
}
.dropdown:hover {
    text-decoration: underline
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}
h1 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
    color: gray;
}
.tarea {
    display: flex;
    flex-direction: column;
    border: 5px solid lightgray;
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
    background-color: white;
    padding: 1rem 2rem;
    margin: 2rem;    
    text-align: center;
    line-height: 2;
}
input {
    padding: 1rem;
    width: 100%;
}
input:focus {
    border: 2px solid slategray;
    outline: none; 
}
.btn-tarea {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;


}
.btn-problema {
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
    border: none;
    font-weight: bold;
    font-size: 1rem;
    background-color: lightslategray;
    color: white;
}
button:active {
    background-color: slategray;

}

.resultado {
    color: lightslategray;
    font-size: 1.5rem;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    padding: 1rem;
}